body {
  background-color: lightblue;
  text-align: center;
}

div {
  font-size: 80px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Handwriting";
  font-stretch: ultra-expanded;
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-gap: 50px;
}

table {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Garamond";
}

label {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Garamond";
}

select {
  font-family: "Garamond";
}

option {
  font-family: "Garamond";
}

iframe {
  background-color: transparent;
  font-family: "Garamond";
  width: "500";
  height: "400";
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main1;
}
.item4 {
  grid-area: right1;
}
.item5 {
  grid-area: main2;
}
.item6 {
  grid-area: right2;
}
.item7 {
  grid-area: main3;
}
.item8 {
  grid-area: right3;
}
.item9 {
  grid-area: main4;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main1 right1 menu menu menu menu"
    "main2 right2 menu menu menu menu"
    "main3 right3 menu menu menu menu"
    "main4 main4 menu menu menu menu";
  grid-gap: 5%;
  background-color: transparent;
  padding: 2px;
}

.grid-container > div {
  background-color: lightblue;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}
